{% extends 'stores/base.html' %}

{% block title %}{{ store.name }} | {{ block.super }}{% endblock title %}

{% block content %}
<h1>{{ store.name }}</h1>
<p>{{ store.notes }}</p>

<form method="post" action="{% url 'store_delete' store.pk %}" class="controls">
  {% csrf_token %}
  <a href="{% url 'store_update' pk=store.pk %}" class="btn btn-default">更新店家資訊</a>
  <input type="submit" value="刪除" class="btn btn-danger">
</form>

<table class="table">
  <thead>
    <tr><th>品項</th><th>單價</th></tr>
  </thead>
  <tbody>
    {% for item in store.menu_items.all %}
    <tr><td>{{ item.name }}</td><td>{{ item.price }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
