{% extends 'stores/base.html' %}

{% load staticfiles crispy_forms_tags %}


{% block title %}更新 {{ store.name }} | {{ block.super }}{% endblock title %}


{% block content %}
<form method="post">

  {% crispy form %}

  {{ menu_item_formset.management_form }}
  {% for form in menu_item_formset %}
    <div class="menu-item form-group">
      {% crispy form menu_item_formset.helper %}
    </div>
  {% endfor %}

  <a href="#" class="menu-item-add btn btn-default">新增菜單項目</a>
  <button type="submit" class="btn btn-primary">更新</button>

</form>
{% endblock content %}


{% block js %}
{{ block.super }}
<script src="{% static 'stores/js/store_update.js' %}"></script>
{% endblock js %}
