{% extends 'stores/base.html' %}

{% load staticfiles stores_tags %}

{% block title %}店家列表 | {{ block.super }}{% endblock title %}

{% block content %}
<div class="controls">
  <a href="{% url 'store_create' %}" class="btn btn-default">建立店家</a>
</div>

{% for store in stores %}
<div class="store">
  {% if store|deletable:user %}
  <button data-href="{% url 'store_delete' store.pk %}"
      class="btn btn-danger pull-right btn-delete">
    刪除
  </button>
  {% endif %}
  <h2><a href="{{ store.get_absolute_url }}">{{ store.name }}</a></h2>
  <p>{{ store.notes }}</p>
</div>
{% endfor %}
{% endblock content %}


{% block js %}
<script src="{% static 'stores/js/store_list.js' %}"></script>
{% endblock js %}
