<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>午餐系統</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />

</head>

<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{% url 'home' %}">午餐系統</a>
		</div>
	</div>
</nav>

</body>

</html>
